@model PageDataViewModel<Turma>

@{
    ViewData["Title"] = "Turmas";
    var filterTypes = Html.GetEnumSelectList<FilterType>();
}

<h2> Turmas </h2>

<hr />

<form method="POST" action="@Url.Action("Turmas", "ConsultaAcademica")" style="margin-left:15px;">
    <div class="row">
        <div class="form-group" style="width:150px; float:left;">
            <label class="control-label"> Filtrar por </label>

            <select id="@Html.IdFor(m => m.FilterType)" name="@Html.IdFor(m => m.FilterType)" class="form-control">
                <option value="0"> -- Selecione -- </option>
                <option value="0"> Por Nome </option>
                <option value="1"> Por Código </option>
            </select>
        </div>

        <div class="form-group" style="width:150px; float:left; margin-left:10px;">
            <label class="control-label"> Período Letivo </label>   <br />

            @Html.TextBoxFor(m => m.AditionalFilter, new { @class = "form-control" })
        </div>

        <div class="form-group" style="width:55%; float:left; margin-left:10px;">
            <label class="control-label"> Filtro </label>   <br />

            @Html.TextBoxFor(m => m.FilteValue, new { @class = "form-control" })
        </div>

        <div class="form-group" style="width:150px; float:left; margin-left:10px;">
            <label class="control-label"> &nbsp; </label>   <br />

            <button class="btn btn-primary" type="submit">
                Filtrar
            </button>
        </div>
    </div>

    <div class="row">
        <hr />

        <b> Total de registros: </b> &nbsp; @Model.Total

        <hr />
    </div>

    <table class="table" style="width:98%; height: 100%">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Turma</th>
                <th scope="col">Curso</th>
                <th scope="col">Turno</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.IdTurma</td>
                    <td>@item.TurmaSigla </td>
                    <td>@item.CursoDescricao </td>
                    <td>@item.TurnoDescricao </td>
                </tr>
            }
        </tbody>
    </table>
</form>