@model PageDataViewModel<Aluno>

@{
    ViewData["Title"] = "Alunos para Sincronia com o MOODLE";
    var filterTypes = Html.GetEnumSelectList<FilterType>();
}

<h2> Alunos para Sincronizar com o MOODLE </h2>

<hr />

<form method="POST" action="@Url.Action("AlunosSincronia", "Sincronia")" style="margin-left:15px; height:100%; overflow-y:auto;">    
    <div class="row">
        <b> Total de registros: </b> &nbsp; @Model.Total
        <hr />
    </div>

    <table class="table" style="width:98%; height: 100%; display:table;">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col" style="width:80px;">CPF</th>
                <th scope="col">Matricula</th>
                <th scope="col">Dt. Nasc.</th>
                <th scope="col">Sexo</th>
                <th scope="col">Modalidade</th>
                <th scope="col">Curso</th>
                <th scope="col">Turma</th>
                <th scope="col">Turno</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td> @item.IdAluno </td>
                    <td> @item.AlunoNome </td>
                    <td style="width:80px;"> @item.AlunoCpf </td>
                    <td> @item.AlunoMatricula </td>
                    <td> @item.AlunoNascimento </td>
                    <td> @item.AlunoSexo </td>
                    <td> @item.ModalidadeDescricao </td>
                    <td> @item.CursoDescricao </td>
                    <td> @item.TurmaSigla </td>
                    <td> @item.TurnoDescricao </td>
                    <td>
                        <button type="button" id="btn-disciplina" class="btn btn-primary" data-id="@item.IdAluno" data-toggle="modal" data-target="#modalDisciplinas">
                            Disciplinas
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="modalDisciplinas" tabindex="-1" role="dialog" aria-labelledby="modalDisciplinasLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Disciplinas</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <iframe id="frm-disciplinas" src="" style="width:100%; height:100%; border:none;"></iframe>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
    {
    <script type="text/javascript">
        $(function () {
            $('#modalDisciplinas').on('show.bs.modal', function (e) {
                var button      = $(e.relatedTarget);
                var id          = button.data('id');
                var modal       = $(this);
                var url         = "@Url.Action("DisciplinasAluno", "ConsultaAcademica")";
                var completeurl = url + "?id=" + id;
                var height      = $('body').height() - 60;
                var width       = $(window).width() - 60;

                modal.find('.modal-dialog').height(height).width(width);
                modal.find('.modal-body').height(height - 140).width(width - 29);
                modal.find('#frm-disciplinas').attr('src', completeurl);
            });
        });
    </script>
}